<script type="text/javascript">
$(function(){
	$('input[type=checkbox], input[type=radio]').change(function(){
		if(!$('#queue-settings').is(':visible')) {
			$('#queue-settings').show();
		}
	});
	
	$('.actions .reset').click(function(e){
		e.preventDefault();
		$('#queue-form')[0].reset();
		$('#queue-settings').hide();
	});
});

</script>

<div class="page-header">
	<h2>
		The Queue
		<small>Automatically Released Episodes</small>
	</h2>
</div>
<div class="row">
	<div class="span4 columns">
		<h3>Release Schedule</h3>
		<p>The Queue gives you a powerful and convenient way to have a consistent release schedule.</p>
		<p>Adjust the release schedule, then <a href="/admin/publish">publish</a> an episode or episodes.</p>
	</div>
	<form id="queue-form" method="post">
		<input type="hidden" name="_method" value="put">
		{{#settings}}
		<div class="span6 columns">
				<div class="clearfix">
					<label id="status">Status</label>
					<div class="input">
						<ul class="inputs-list">
							<li>
								<label>
									<input type="radio" name="status" value="active" {{#status}}checked{{/status}} />
									<span>Active</span>
								</label>
							</li>
							<li>
								<label>
									<input type="radio" name="status" value="offline" {{^status}}checked{{/status}} />
									<span>Offline</span>
								</label>
							</li>

						</ul>

					</div>
				</div><!-- /clearfix -->
				{{#day}}
				<div class="clearfix">
					<label id="day">Day of the Week</label>
					<div class="input">
						<ul class="inputs-list">
							<li>
								<label>
									<input type="checkbox" name="day[monday]" {{#monday}}checked{{/monday}} />
									<span>Monday</span>
								</label>
							</li>
							<li>
								<label>
									<input type="checkbox" name="day[tuesday]"  {{#tuesday}}checked{{/tuesday}} />
									<span>Tuesday</span>
								</label>
							</li>
							<li>
								<label>
									<input type="checkbox" name="day[wednesday]" {{#wednesday}}checked{{/wednesday}} />
									<span>Wednesday</span>
								</label>
							</li>
							<li>
								<label>
									<input type="checkbox" name="day[thursday]" {{#thursday}}checked{{/thursday}}  />
									<span>Thursday</span>
								</label>
							</li>
							<li>
								<label>
									<input type="checkbox" name="day[friday]" {{#friday}}checked{{/friday}}  />
									<span>Friday</span>
								</label>
							</li>
							<li>
								<label>
									<input type="checkbox" name="day[saturday]" {{#saturday}}checked{{/saturday}} />
									<span>Saturday</span>
								</label>
							</li>
							<li>
								<label>
									<input type="checkbox" name="day[sunday]" {{#sunday}}checked{{/sunday}} />
									<span>Sunday</span>
								</label>
							</li>
						</ul>
					
					</div>
				</div><!-- /clearfix -->
				{{/day}}
		</div>
		<div class="span6 columns">
			{{#time}}
			<div class="clearfix">
				<label id="time">Time of Day</label>
				<div class="input">
					<ul class="inputs-list">
						<li>
							<label>
								<input type="checkbox" name="time[morning]" {{#morning}}checked{{/morning}} />
								<span>Morning</span>
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox" name="time[afternoon]" {{#afternoon}}checked{{/afternoon}} />
								<span>Afternoon</span>
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox" name="time[evening]" {{#evening}}checked{{/evening}} />
								<span>Evening</span>
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox" name="time[night]" {{#night}}checked{{/night}} />
								<span>Night</span>
							</label>
						</li>
					</ul>
				
				</div>
			</div><!-- /clearfix -->
			{{/time}}
			{{#recurrence}}
			<div class="clearfix">
				<label id="recurrence">Recurrence</label>
				<div class="input">
					<ul class="inputs-list">
						<li>
							<label>
								<input type="radio" name="recurrence[weekly]" {{#weekly}}checked{{/weekly}} />
								<span>Weekly</span>
							</label>
						</li>
						<li>
							<label>
								<input type="radio" name="recurrence[biweekly]" {{#biweekly}}checked{{/biweekly}} />
								<span>Bi-Weekly</span>
							</label>
						</li>
						<li>
							<label>
								<input type="radio" name="recurrence[monthly]" {{#monthly}}checked{{/monthly}} />
								<span>Monthly</span>
							</label>
						</li>
					</ul>
				
				</div>
			</div><!-- /clearfix -->
			{{/recurrence}}
		</div>
	
		<div class="row">
			<div class="span12 columms offset4">
				<div class="actions" id="queue-settings" style="display: none">
					<button type="submit" class="btn primary">Update Release Schedule</button>
					or <a href="#" class="reset">Clear your changes</a>
				</div>
			</div>
		</div>
		{{/settings}}
	</form>
</div>

{{#has_episodes}}

<div class="page-header">
	<h2>
		Queued Episodes
	</h2>
</div>
<div class="row">
	<div class="span4 columns">
		<h3>Next Episode</h3>
		<p>This is the next show in the queue.</p>
		<p>It will be released on Tuesday</p>
	</div>
	<div class="span12 columns">
		{{#next_up}}
		<div class="page-header">
			<h2>
				<a href="/admin/episode/{{_id}}">{{title}}</a>
				<small>{{#episode}}Episode #{{episode}} - {{/episode}}<span class="pubdate">{{published}}</span></small>
			</h2>
		</div>
		<div class="row">
			<div class="span12 columns summary">
				{{{summary_html}}}
			</div>
		</div>
		
		<div class="row">
			<div class="span4 columns player">
				<div class="well">
					<h4>Listen</h4>
					<audio controls="controls">
						<source src="/uploads/{{file}}" type="audio/mpeg" />
						<!--[if gt IE 6]>
						<object classid="clsid:6BF52A52-394A-11D3-B153-00C04F79FAA6" width="320" height="45"><!
						[endif]--><!--[if !IE]><!-->
						<object type="audio/mpeg" data="/uploads/{{file}}">
						<!--<![endif]-->
						<param name="url" value="/uploads/{{file}}" />
						<param name="autostart" value="false" />
						<param name="uiMode" value="full" />
						<object height="24" width="320" type="application/x-shockwave-flash" data="/swf/player.swf" id="audioplayer">
						<param name="movie" value="/swf/player.swf" />
						<param name="FlashVars" value="playerID=audioplayer&amp;soundFile=/uploads/{{file}}" />
						</object><!--[if gt IE 6]><!-->
						</object><!--<![endif]-->
					</audio>

					<ul class="unstyled">
						{{#length}}<li><strong>Runtime:</strong> {{length}}</li>{{/length}}
						<li>

							{{#file}}<strong>Download:</strong> <a href="/uploads/{{file}}">MP3 ({{size_mb}} MB)</a>{{/file}}
						</li>
					</ul>
				</div>

			</div>
			{{#links}}
			<section class="links">
				<div class="span8 columns">
					<h4>Episode Links</h4>
				</div>
				{{% IMPLICIT-ITERATOR %}}	
				{{#links_html}}
				<div class="span4 columns">
					{{{.}}}
				</div>
				{{/links_html}}
			</section>
			{{/links}}


		</div>
		{{/next_up}}
	</div>
</div>

<div class="row">
	<div class="span4 columns">
		<h3>Upcoming</h3>
		<p>These episodes are queued for future release.</p>
	</div>
	<div class="span12 columns">
		<table class="zebra-striped">
			<thead>
				<tr>
					<th class="episode-title xyellow">Title</th>
					<th class="header xblue">Created</th>
				</tr>
			</thead>
			<tbody>
				{{#episodes}}
				<tr>
					<td class="episode-title"><a href="/admin/episode/{{_id}}">{{title}}</a> {{^processed}}<em>(processing)</em>{{/processed}}</td>
					<td class="pubdate">{{published}}</td>
				</tr>
				{{/episodes}}
			</tbody>
		</table>
	</div>
</div>

{{/has_episodes}}



{{^has_episodes}}
<h1>No episodes are queued</h1>
<p>Maybe try <a href="/admin/publish">queueing</a> something?</p>
{{/has_episodes}}