<div class="page-header">
	<h2>System Settings <small>Customize your Podcast</small></h2>
</div>

<ul class="tabs">
  <li class="active"><a href="#site">Site</a></li>
  <li><a href="#feed">Feed</a></li>
  <li><a href="#analytics">Analytics</a></li>
</ul>