<div class="page-header">
	<h2>System Settings <small>Customize your Podcast</small></h2>
</div>

<ul class="tabs">
  <li class="active"><a href="#site">Site</a></li>
  <li><a href="#feed">Feed</a></li>
  <li><a href="#analytics">Analytics</a></li>
</ul>

<div class="row">
	<form method="post" class="form-stacked">
		<div class="span12 columns">
			<fieldset>
				<legend>General</legend>
				<div class="clearfix">
					<label for="title">Title</label>
					<div class="input">
						<input class="xxlarge" id="title" name="title" size="30" type="text" value="{{title}}"/>
					</div>
				</div><!-- /clearfix -->
			</fieldset>
		</div>
	</form>

</div>