<section class="episode">
	<div class="page-header">
		<h2>
			<a href="/episode/{{_id}}">{{title}}</a>
			<small>{{#episode}}Episode #{{episode}} - {{/episode}}<span class="pubdate">{{published}}</span></small>
		</h2>
	</div>
	<div class="row">
		<div class="span16 columns summary">
			{{{summary_html}}}
		</div>
	</div>
	<div class="row">
		<div class="span4 columns player">
			<div class="well">
				<h4>Listen</h4>			
				<audio controls="controls">
					<source src="/uploads/{{file}}" type="{{type}}" />
					<!--[if gt IE 6]>
					<object classid="clsid:6BF52A52-394A-11D3-B153-00C04F79FAA6" width="320" height="45"><!
					[endif]-->
					<!--[if !IE]><!-->
					<object type="{{type}}" data="/uploads/{{file}}">
					<!--<![endif]-->
						<param name="url" value="/uploads/{{file}}" />
						<param name="autostart" value="false" />
						<param name="uiMode" value="full" />
						<object height="24" width="320" type="application/x-shockwave-flash" data="/swf/player.swf" id="audioplayer">
							<param name="movie" value="/swf/player.swf" />
							<param name="FlashVars" value="playerID=audioplayer&amp;soundFile=/uploads/{{file}}" />
						</object><!--[if gt IE 6]><!-->
					</object><!--<![endif]-->
				</audio>
				
				<ul class="unstyled">
					{{#length}}<li><strong>Runtime:</strong> {{length}}</li>{{/length}}
					<li>
						 
						{{#file}}<strong>Download:</strong> <a href="/uploads/{{file}}">MP3 ({{size_mb}} MB)</a>{{/file}}
					</li>
				</ul>
			</div>
			
		</div>
		{{#links}}
		<section class="links">
			<div class="span12 columns">
				<h4>Episode Links</h4>
			</div>
			{{% IMPLICIT-ITERATOR %}}	
			{{#links_html}}
			<div class="span6 columns">
				{{{.}}}
			</div>
			{{/links_html}}
		</section>
		{{/links}}
		
		
	</div>
</section>