<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta charset="utf-8"/>
	
	<title>{{siteTitle}}{{^siteTitle}}Bongo Podcast Publisher{{/siteTitle}}</title>
	{{>styles}}
	{{>scripts}}
	
</head>
<body lang="en">
	
<div class="container">
	
	<section class="header">
		<div class="row">
			<div class="span10 columns">
				<h1 class="site_name">
					<a href="/">Bongo Podcast Publisher</a>
				</h1>
			</div>
			<div class="span6 columns">
				<ul class="horizontal_nav">
					<li class="active"><a id="home" href="/">home</a></li>
					<li><a id="subscribe" href="#">subscribe</a></li>
					<li><a id="about" href="#">about</a></li>
					<li><a id="contact" href="#">contact</a></li>
				</ul>
			</div>
		</div>
	</section>
	
	{{>alerts}}
	
	<section class="introduction">
		<div class="row">
			<div class="span6 columns">
				<img src="/images/technics.jpeg" />
			</div>
			<div class="span9 columns">
				<h2>Hello &amp; Welcome</h2>
				<p>How do you know she is a witch? And this isn't my nose. This is a false one. …Are you suggesting that coconuts migrate? Listen. </p>
				<p>Strange women lying in ponds distributing swords is no basis for a system of government. Supreme executive power derives from a mandate from the masses, not from some farcical aquatic ceremony. Well, what do you want? Camelot!</p>
			</div>
		</div>
	</section>
	{{{yield}}}
</div>

</body>
</html>