<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0">
	<channel>
		{{#site}}
		<title>{{name}}</title>
		<link>{{url}}</link>
		<language>en-us</language>
		<copyright>{{copyright}}</copyright>
		<itunes:subtitle>{{about}}</itunes:subtitle>
		<itunes:author>{{#owner}}{{name}}{{/owner}}</itunes:author>
		<itunes:summary>{{about}}</itunes:summary>
		<description>{{about}}</description>
		<itunes:owner>
			{{#owner}}
			<itunes:name>{{name}}</itunes:name>
			<itunes:email>{{email}}</itunes:email>
			{{/owner}}
		</itunes:owner>
		<itunes:image href="{{cover_art}}" />
		{{/site}}
		{{#feed}}
		<itunes:category text="{{category}}">
			{{#subcategory}}<itunes:category text="{{subcategory}}"/>{{/subcategory}}
		</itunes:category>
		<itunes:explicit>{{explicit}}</itunes:explicit>
		{{/feed}}
		
		{{#episodes}}
		<item>
			<title>{{title}}</title>
			<description>{{summary_html}}</description>
			<itunes:author>{{#site}}{{#owner}}{{name}}{{/owner}}{{/site}}</itunes:author>
			<itunes:subtitle>A short primer on table spices</itunes:subtitle>
			<itunes:summary>{{summary_html}}</itunes:summary>
			<itunes:image href="{{#site}}{{cover_art}}{{/site}}"/>
			<enclosure url="http://localhost:3000/uploads/{{file}}" length="{{size}}" type="{{type}}"/>
			<guid>http://localhost:3000/episode/{{_id}}</guid>
			<pubDate>{{published}}</pubDate>
			<itunes:keywords>{{#feed}}{{keywords}}{{/feed}}</itunes:keywords>
		</item>
		{{/episodes}}
	</channel>
</rss>
