<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


<script src="/javascripts/coffee-script.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/less.min.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/prettydate.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
$(function(){
	$('.pubdate').each(function(i,e){
		date = new Date($(this).text());
		$(this).attr('pubdate', date);
		$(this).text(pretty(date))
		
	});
	
	$('.alert-message .close').click(function(e){
		e.preventDefault();
		$(this).parent('.alert-message').slideUp();
	});
});

setInterval(function(){
	$('.pubdate').each(function(i,e){
		$(this).text(pretty($(this).attr('pubdate')));
	});
}, 300000);
</script>