<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


<script src="/javascripts/coffee-script.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/less.min.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="/javascripts/jquery.slugit.js" type="text/javascript" charset="utf-8"></script>

