<h1>Sites</h1>
<table cellspacing="0">
	<thead>
		{{#has_sites}}
		<tr>
			<th>domain</th>
			<th>title</th>
			<th>analytics</th>
			<th>mode</th>
		</tr>
		{{/has_sites}}
	</thead>
	<tbody>
		{{#sites}}
		<tr>
			<td><a href="/sites/modify/{{_id}}">{{domain}}</a></td>
			<td>{{title}}</td>
			<td>{{ganalytics}}</td>
			<td>{{mode}}</td>
		</tr>
		{{/sites}}
	</tbody>
</table>

{{^sites}}
<h4>No sites exist</h4>
<p>Maybe you might wanna <a href="/sites/modify">make one</a>?</p>
{{/sites}}

	
